body{
    min-height:100vh;
    margin: 0;
    padding: 0;
    
}
.heading, .search-container,.background{
    background-color:#F6F5F3;
    
}

#inbox-title{
    display:flex;
    justify-content: center;
    
}

#search-bar{
    box-shadow:none;
}
.subject-div{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.inbox-list{
    background-color:#ECE4DB;
    min-height:100vh;
}
.email-list{
    background-color:#CEF0F7;
    min-height:100vh;
}

.email-view{
    background-color:#ECEAE7;
    min-height:100vh;
}
.footer-bottom{
    position:fixed;
    display:flex;
    justify-content:center;
    left:0;
    right:0;
    width:100%;
    bottom:0;
    padding:5px;
    
    background-color:lightgrey;
    
}

.indiv-email{
    padding:10px;
}

.sender{
    font-size:1.2em;
}
.subject{
    font-size:0.9em;
}
.message{
    font-size:0.8em;
}


@media (min-width:992px){
    #second-email{
        background-color:#8fdeee;
    }
}
